*{
    box-sizing: border-box;
}
body {
    color: #797e83;
    font-size: 16px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*cosmotologist-col {
    background-color: rgba(235, 126, 142, 0.692);
}
massage-col {
    background-color: rgba(144, 238, 144, 0.637);
}
office-info-col {
    background-color: rgba(255, 255, 0, 0.452);
}*/
serv-and-info {
    background-color: rgba(255, 255, 0, 0.452);
}

ul,
li {
    list-style-type: none;
    padding-left: 0;
}
footer {
    background-color: #c5eee2;  
}
.footer {
    margin-top: auto;
}
.container {
    background-color: #c5eee2; /*parent blocking child bgnd color*/
}

.main-header,
.nav,
.serv-and-info {
    display: flex;
    flex-direction: column;
}
.main-header{
    padding-top: 2em;
    padding-bottom: 2em;
}
.site-logo {
    width: 110px;
    align-self: center; 
}
.nav {
    margin-top: 1.5em;
    
}
.nav a {
    display: block; 
    color: #797e83;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center; 
    padding: .4em;
    border-bottom: 1px solid #ebecec;
}
.nav a:hover {
    color: #0b0b0b;
    border-bottom-color: #52bab3;
}
.serv-and-info {
    align-items: center;
    flex-wrap: wrap;
}
.col {
    display: flex;
    flex: 1; /* -ms-flex bc Explorer 10 alternative see below*/
    flex-direction: column; /*is this helping any*/
}
.footer-nav {
    display: flex;
    flex-wrap: wrap;
}   
.item-1,
.item-2,
.item-3,
.item-4 {
    -ms-flex: 1;
    flex: 1;
    flex-basis: 200px;
    align-items: center;
}
.item-1,
.item-2 {
    align-self: flex-end;
}
.item-2 {
    order: 4;
}
/* IF .item-1 {
    padding-left: 10px;
}
.item-4 at <1025 needs padding left,somehow*/


@media (min-width:769px) {
    .main-header {
        
        height: 200px;
    
        justify-content: flex-end;   
    }
    
    .site-logo {
        width: 160px;
    }
    .nav {
        margin-top: 3em;
        flex-direction: row;
        justify-content: space-around;
    }
    .nav a {
        border-bottom-color: transparent;
    }
    }
@media (min-width: 1025px) {
    .container {
        display: flex;
        justify-content: center;
    }
    .main-header,
    .serv-and-info {
        flex-direction: row; 
       

    }
    .site-logo {
        margin-right: auto;
        margin-left: auto;
    
    }
    .nav {
        
        margin-top: 0;
        
        

        align-self: center;
    }
    .nav li {
        margin-left: .65em;
        margin-right: .65em;
    }
    cosmotologist-col {
        flex: 2;
    } /*is this helping any*/

}