*{
    box-sizing: border-box;
}
body {
    color: #1d1e1f;
    background-color: light rgb(246, 176, 188);
    font-size: 16px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.serv-and-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 450px; 
    justify-content: space-around;
   /* background-color:rgba(144, 238, 144, 0.637);*/
}

.serv-and-info > div{

}

.info-box {
    border: 1px dotted rgb(241, 180, 156);
    margin: .5rem;
    background-color:rgba(144, 238, 144, 0.637);
    flex: 1 0 450px;
    padding: 2rem;
}



ul,
li {
    list-style-type: none;
    padding-left: 0;
}
h1,
h3 {
    text-align: center;
}

footer {
    background-color:rgba(255, 255, 0, 0.452); 
}

.footer {
    margin-top: auto;
}

.nav {
    display: flex;
    flex-direction: column;
}
.main-header{
    background-color: rgb(157, 191, 247);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;


}
.header-logo-cont {
    padding-top: 20px;
    padding-left: 5px;

}

.header-nav-cont {

}

.nav {
    margin-top: 1.5em;
    
}
.nav a {
    display: block; 
    color: black;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center; 
    text-decoration: none;

    padding: .4em;
    border-bottom: 1px solid #ebecec;
}
.nav a:hover {
    color: #0b0b0b;
    border-bottom-color: #52bab3;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
}   
.item-1,
.item-2,
.item-3,
.item-4 {
    -ms-flex: 1;
    flex: 1;
    flex-basis: 200px;
    align-items: center;
}
.item-1,
.item-2 {
    align-self: flex-end;
}
.item-2 {
    order: 4;
}

@media (min-width:760px) {

    .main-header{
        display: flex;
        flex-direction: row;
    }
    
    .header-nav-cont {
        flex: .70 0 auto;   
    }
    
    .nav {
        margin-top: 3em;
        flex-direction: row;
        justify-content: space-around;
    }
    .nav a {
        border-bottom-color: transparent;
    
    }
    .serv-and-info {
        flex-direction: row;
     }
   }


