*{
    box-sizing: border-box;
}
body {
    color: #797e83;
    font-size: 16px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
ul,
li {
    list-style-type: none;
}

.container {
    background-color: #c5eee2;
}

.main-header,
.nav {
    display: flex;
    flex-direction: column;
}
.main-header{
    padding-top: 2em;
    padding-bottom: 2em;
}
.site-logo {
    width: 110px;
    align-self: center; 
}
.nav {
    margin-top: 1.5em;
    
}
.nav a {
    display: block; /*maybe out*/
    color: #797e83;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center; /*maybe out*/
    padding: .4em;
    border-bottom: 1px solid #ebecec;
}
.nav a:hover {
    color: #0b0b0b;
    border-bottom-color: #52bab3;
}

@media (min-width:769px) {
    .main-header {
        
        height: 200px;
    
        justify-content: flex-end;   
    }
    .site-logo {
        width: 160px;
    }
    .nav {
        margin-top: 3em;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav a {
        border-bottom-color: transparent;
    }
    }
@media (min-width: 1025px) {
    .main-header {
        flex-direction: row;
    }
    .site-logo {
        margin-right: auto;
    }
    .nav {
        
        margin-top: 0;
        
        

        align-self: center;
    }
    .nav li {
        margin-left: .65em;
        margin-right: .65em;
    }
}